In [1]:
course_name='Data Science Masters'

In [3]:
course_name[5:12]

'Science'

In [4]:
course_name[11:4:-1]

'ecneicS'

In [2]:
str_1= "Welcome to PWSkills.Welcome to Dat cience Masters"

In [3]:
str_1.replace("Dat", "Data")

'Welcome to PWSkills.Welcome to Data cience Masters'

In [4]:
str_1.replace("cience", "Science")

'Welcome to PWSkills.Welcome to Dat Science Masters'

In [11]:
str_2="pwskills"

for i in range(len(str_2)):
    print(i, "=", (str_2[::-1])[i])

0 = s
1 = l
2 = l
3 = i
4 = k
5 = s
6 = w
7 = p

In [16]:
str_3="pwskills"
i=0
while i<len(str_3):
    print(i, "=", (str_3[::-1])[i])
    i+=1

0 = s
1 = l
2 = l
3 = i
4 = k
5 = s
6 = w
7 = p

In [12]:
Name_1="Mississippie is Utopia"
vowels="AaEeIiOoUu"

for i in Name_1:
    for j in vowels:
        if i==j:
            print("There is a vowel", i)

There is a vowel i
There is a vowel i
There is a vowel i
There is a vowel i
There is a vowel e
There is a vowel i
There is a vowel U
There is a vowel o
There is a vowel i
There is a vowel a

In [13]:
for i in Name_1:
    if i in vowels:
        print("We found '{}' vowel in '{}'".format(i, Name_1))

We found 'i' vowel in 'Mississippie is Utopia'
We found 'i' vowel in 'Mississippie is Utopia'
We found 'i' vowel in 'Mississippie is Utopia'
We found 'i' vowel in 'Mississippie is Utopia'
We found 'e' vowel in 'Mississippie is Utopia'
We found 'i' vowel in 'Mississippie is Utopia'
We found 'U' vowel in 'Mississippie is Utopia'
We found 'o' vowel in 'Mississippie is Utopia'
We found 'i' vowel in 'Mississippie is Utopia'
We found 'a' vowel in 'Mississippie is Utopia'

In [15]:
for i in Name_1:
    if i in vowels:
        print("We found '{}' vowel in '{}'".format(i, Name_1))
    else: 
        print("{} is not a vowel".format(i))

M is not a vowel
We found 'i' vowel in 'Mississippie is Utopia'
s is not a vowel
s is not a vowel
We found 'i' vowel in 'Mississippie is Utopia'
s is not a vowel
s is not a vowel
We found 'i' vowel in 'Mississippie is Utopia'
p is not a vowel
p is not a vowel
We found 'i' vowel in 'Mississippie is Utopia'
We found 'e' vowel in 'Mississippie is Utopia'
  is not a vowel
We found 'i' vowel in 'Mississippie is Utopia'
s is not a vowel
  is not a vowel
We found 'U' vowel in 'Mississippie is Utopia'
t is not a vowel
We found 'o' vowel in 'Mississippie is Utopia'
p is not a vowel
We found 'i' vowel in 'Mississippie is Utopia'
We found 'a' vowel in 'Mississippie is Utopia'

In [12]:
Str_4="Pw skills data science masters"
Lst_1= Str_4.split(" ")
for i in Lst_1:
    if i == 'science':
        print("found science")
        break

found science

In [8]:
Lst_x=[1,2,3,4,5,6,7,8]
n=len(Lst_x)
(min(Lst_x)+max(Lst_x))*n/2

36.0

In [11]:
for i in Lst_x:
    if i%2==0:
        print(

TypeError: 'int' object is not iterable

In [13]:
Lst_x=[1,2,3,4,5,6,7,8]
sum_even=0
sum_odd=0
for i in Lst_x:
    if i%2==0:
        print(sum_even:=i+sum_even)
    else:
        sum_odd=i+sum_odd
print(sum_even)
print(sum_odd)

2
6
12
20
20
16

In [14]:
[i for i in Lst_x]

[1, 2, 3, 4, 5, 6, 7, 8]

In [18]:
[i for i in Lst_x if i%2==0]

[2, 4, 6, 8]

In [19]:
sum([i for i in Lst_x if i%2==0])

20

In [20]:
[i for i in Lst_x if i%2!=0]

[1, 3, 5, 7]

In [21]:
sum([i for i in Lst_x if i%2!=0])

16

In [24]:
Lst_x.extend([9,10])

In [25]:
[i**2 for i in Lst_x ]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [31]:
[i for i=int() and -2<=i<=4]

SyntaxError: invalid syntax (1715849396.py, line 1)

In [32]:
[i for i=int(-2,4)]

SyntaxError: invalid syntax (4173461732.py, line 1)

In [34]:
[i for i=int{-2,4}]

SyntaxError: invalid syntax (4176706412.py, line 1)

In [28]:
[i for i>=-2 and i<=4]

SyntaxError: cannot assign to expression (143889736.py, line 1)

In [30]:
[i for i>=-2 and i<=4]

SyntaxError: cannot assign to expression (143889736.py, line 1)

In [35]:
[i for i+=1 and i<=4]

SyntaxError: invalid syntax (1303410315.py, line 1)

In [44]:
i=-2
while i<5:
    Lst_b=[i]
    i+=1
    print(Lst_b.append([i]))

None
None
None
None
None
None
None

In [38]:
[i while i<5, i+=1, i=-2]

SyntaxError: invalid syntax (684180747.py, line 1)

In [45]:
Lst_c= [-2,-1, 0,1,2,3,4]
[i for i in Lst_c if i>0]

[1, 2, 3, 4]

In [46]:
words = ['apple', 'banana', 'cherry', 'date']
[i[0] for i in words ]

['a', 'b', 'c', 'd']

In [48]:
celsius_temperatures = [0, 10, 20, 30, 40, 50]
[int((180/100)*i+32) for i in celsius_temperatures]

[32, 50, 68, 86, 104, 122]

In [7]:
Lis_1= [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[i for i in Lis_1[0]]

[1, 2, 3]

In [16]:
Lis_1= [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
Lis_2= [i for i in Lis_1[0]]
print(Lis_2.append([j for j in Lis_1[1]])

None

In [18]:
Lis_1= [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
Lis_2= [i for i in Lis_1[0] and j for j in Lis_1[1]]
print(Lis_2)

NameError: name 'j' is not defined

In [19]:
Lis_1= [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
Lis_2= [for i in Lis_1[0] for j in Lis_1[1] i,j]
print(Lis_2)

SyntaxError: invalid syntax (301381743.py, line 2)

In [20]:
Lis_1= [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
Lis_2= [i for i in Lis_1[0] + j for j in Lis_1[1]]

print(Lis_2)

NameError: name 'j' is not defined

In [21]:
Lis_1= [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
Lis_2= [i+j for i in Lis_1[0] + for j in Lis_1[1]]

print(Lis_2)

SyntaxError: invalid syntax (3466043343.py, line 2)

In [23]:
Lis_1= [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
Lis_2= [i for i in Lis_1[0]] + [j for j in Lis_1[1]] + [k for k in Lis_1[2]]

print(Lis_2)

[1, 2, 3, 4, 5, 6, 7, 8, 9]