# Loops

## 1. While
## 2. For
## 3. Nested loop
## 4. Loop Control

In [4]:
# 1. While

In [2]:
age = 1
while age <=60: 
    print( age, "Welcome, click on 'apply here'")
    age += 1
else:
    print("You are not eligeble for the position.")
    print("Better Luck Next Time")

1 Welcome, click on 'apply here'
2 Welcome, click on 'apply here'
3 Welcome, click on 'apply here'
4 Welcome, click on 'apply here'
5 Welcome, click on 'apply here'
6 Welcome, click on 'apply here'
7 Welcome, click on 'apply here'
8 Welcome, click on 'apply here'
9 Welcome, click on 'apply here'
10 Welcome, click on 'apply here'
11 Welcome, click on 'apply here'
12 Welcome, click on 'apply here'
13 Welcome, click on 'apply here'
14 Welcome, click on 'apply here'
15 Welcome, click on 'apply here'
16 Welcome, click on 'apply here'
17 Welcome, click on 'apply here'
18 Welcome, click on 'apply here'
19 Welcome, click on 'apply here'
20 Welcome, click on 'apply here'
21 Welcome, click on 'apply here'
22 Welcome, click on 'apply here'
23 Welcome, click on 'apply here'
24 Welcome, click on 'apply here'
25 Welcome, click on 'apply here'
26 Welcome, click on 'apply here'
27 Welcome, click on 'apply here'
28 Welcome, click on 'apply here'
29 Welcome, click on 'apply here'
30 Welcome, click on 'apply here'
31 Welcome, click on 'apply here'
32 Welcome, click on 'apply here'
33 Welcome, click on 'apply here'
34 Welcome, click on 'apply here'
35 Welcome, click on 'apply here'
36 Welcome, click on 'apply here'
37 Welcome, click on 'apply here'
38 Welcome, click on 'apply here'
39 Welcome, click on 'apply here'
40 Welcome, click on 'apply here'
41 Welcome, click on 'apply here'
42 Welcome, click on 'apply here'
43 Welcome, click on 'apply here'
44 Welcome, click on 'apply here'
45 Welcome, click on 'apply here'
46 Welcome, click on 'apply here'
47 Welcome, click on 'apply here'
48 Welcome, click on 'apply here'
49 Welcome, click on 'apply here'
50 Welcome, click on 'apply here'
51 Welcome, click on 'apply here'
52 Welcome, click on 'apply here'
53 Welcome, click on 'apply here'
54 Welcome, click on 'apply here'
55 Welcome, click on 'apply here'
56 Welcome, click on 'apply here'
57 Welcome, click on 'apply here'
58 Welcome, click on 'apply here'
59 Welcome, click on 'apply here'
60 Welcome, click on 'apply here'
You are not eligeble for the position.
Better Luck Next Time

In [40]:
#2. For loop

In [42]:
Lst= [23, 45,67,22,1,23,112,567,32,2,4,67]

In [44]:
Lst.sort()

In [45]:
print(Lst)

[1, 2, 4, 22, 23, 23, 32, 45, 67, 67, 112, 567]

In [6]:
Lst= [23, 45,67,22,1,23,112,567,32,2,4,67]
Lst.sort()
n=1
for i in Lst:
        print(f"{i} is the {n}th element")
        n+=1

1 is the 1th element
2 is the 2th element
4 is the 3th element
22 is the 4th element
23 is the 5th element
23 is the 6th element
32 is the 7th element
45 is the 8th element
67 is the 9th element
67 is the 10th element
112 is the 11th element
567 is the 12th element

In [41]:
for i in range(0,11):
    print(i, "is the number")

0 is the number
1 is the number
2 is the number
3 is the number
4 is the number
5 is the number
6 is the number
7 is the number
8 is the number
9 is the number
10 is the number

In [7]:
for i in range(1,8):
    for j in range(1,i+1):
        print("*",end="")
    print("\r")

*
**
***
****
*****
******
*******

In [28]:
for i in range(1,8):
    for j in range(1,i+1):
        print("*")
    print("\r")

*

*
*

*
*
*

*
*
*
*

*
*
*
*
*

*
*
*
*
*
*

*
*
*
*
*
*
*

In [18]:
for i in range(1,8):
    for j in range(1,i+1):
        print(" ", "*",end="")
    print("\r")

  *
  *  *
  *  *  *
  *  *  *  *
  *  *  *  *  *
  *  *  *  *  *  *
  *  *  *  *  *  *  *

In [29]:
n=7
for i in range(1,n+1):
    for j in range(1,(n-i)):
        print(" ",end="")
    for k in range(1,i+1):
        print("* ",end="")
    print("\r")

     *
    * *
   * * *
  * * * *
 * * * * *
* * * * * *
* * * * * * *

In [30]:
n=7
for i in range(1,n+1):
    for j in range(1,(n+1-i)):
        print(" ",end="")
    for k in range(1,i+1):
        print("* ",end="")
    print("\r")

      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *
* * * * * * *

In [27]:
n=int(input("input an Intergeral number here"))
for i in range(1,n+1):
    for j in range(1,(n+1-i)):
        print(" ",end="")
    for k in range(1,i+1):
        print("* ",end="")
    print("\r")

input an Intergeral number here 20

                   *
                  * *
                 * * *
                * * * *
               * * * * *
              * * * * * *
             * * * * * * *
            * * * * * * * *
           * * * * * * * * *
          * * * * * * * * * *
         * * * * * * * * * * *
        * * * * * * * * * * * *
       * * * * * * * * * * * * *
      * * * * * * * * * * * * * *
     * * * * * * * * * * * * * * *
    * * * * * * * * * * * * * * * *
   * * * * * * * * * * * * * * * * *
  * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *